In [26]:
import numpy as np
import pandas as pd

In [27]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [28]:
df = pd.read_csv('covid_toy.csv')

In [29]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [30]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [32]:
x_train

    age  gender  fever   cough       city
83   17  Female  104.0    Mild    Kolkata
39   50  Female  103.0    Mild    Kolkata
32   34  Female  101.0  Strong      Delhi
63   10    Male  100.0    Mild  Bangalore
12   25  Female   99.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
45   72    Male   99.0    Mild  Bangalore
93   27    Male  100.0    Mild    Kolkata
44   20    Male  102.0  Strong      Delhi
31   83    Male  103.0    Mild    Kolkata
21   73    Male   98.0    Mild  Bangalore

[80 rows x 5 columns]

In [33]:
from sklearn.compose import ColumnTransformer

In [38]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(),['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [40]:
transformer.fit_transform(x_train).shape

(80, 7)

In [43]:
transformer.transform(x_test).shape

(20, 7)